<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="static/styles.css">
    </head>
    <body>


    <header>
        <h1>Webスクレイピング</h1>
        <p>様々なニュースサイトから、最新記事を自動取得し、表示します。</p>
    </header>

    <main>
        <div class="section">
          <h2>GIGAZIN</h2>
          <ul>
              <li class="entry"><a href="{{urls[0]}}" target="_blank"><p>{{titles[0]}}</p></a></li>
              <li class="entry"><a href="{{urls[1]}}" target="_blank"><p>{{titles[1]}}</p></a></li>
              <li class="entry"><a href="{{urls[2]}}" target="_blank"><p>{{titles[2]}}</p></a></li>
          </ul>
        </div>
        <div class="section">
            <h2>ITmedia</h2>
            <ul>
                <li class="entry"><a href="{{urls[3]}}" target="_blank"><p>{{titles[3]}}</p></a></li>
                <li class="entry"><a href="{{urls[4]}}" target="_blank"><p>{{titles[4]}}</p></a></li>
                <li class="entry"><a href="{{urls[5]}}" target="_blank"><p>{{titles[5]}}</p></a></li>
            </ul>
          </div>
          <div class="section">
            <h2>Yahoo news it</h2>
            <ul>
                <li class="entry"><a href="{{urls[6]}}" target="_blank"><p>{{titles[6]}}</p></a></li>
                <li class="entry"><a href="{{urls[7]}}" target="_blank"><p>{{titles[7]}}</p></a></li>
                <li class="entry"><a href="{{urls[8]}}" target="_blank"><p>{{titles[8]}}</p></a></li>
            </ul>
          </div>
          <div class="section">
            <h2>ビリヤードデイズ</h2>
            <ul>
                <li class="entry"><a href="{{urls[9]}}" target="_blank"><p>{{titles[9]}}</p></a></li>
                <li class="entry"><a href="{{urls[10]}}" target="_blank"><p>{{titles[10]}}</p></a></li>
                <li class="entry"><a href="{{urls[11]}}" target="_blank"><p>{{titles[11]}}</p></a></li>
            </ul>
          </div>
    </main>

    <footer>created by Y.HARUUCHI</footer>
    </body>
</html>